html,
body,
#root {
  height: 100%;
}

body {
  background-image: url("assets/The_heart_cloud.jfif");
  background-size: 100% 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.temp {
  color: black;
}